

<app-pokemon-list></app-pokemon-list>

<app-pokemon-template-form></app-pokemon-template-form>

<!-- <router-outlet></router-outlet> -->

<!-- Interpolation -->
<h1>{{ title }}</h1>

<!-- property binding -->
<h4 [innerHTML]="title"></h4>

<!-- two-way binding -->
<!-- sets property in your code -->
<!-- listens for a DOM element change -->
<!-- Only works on input fields -->
<input [(ngModel)]="favAnimal" />
<p>{{favAnimal}}</p>


<!-- Template reference variables -->
<input type="text" #pokemonName />
<button (click)="handleClick(pokemonName)">Check value</button>

<!-- NgIf -->

<div *ngIf="10" class="name">{{ title }}</div>

<input type="text" [value]="newName" (input)="handleChange($event)" />
<p>{{newName}}</p>


<div *ngIf="!newName">
    No search result found
</div>

<ng-container *ngIf="newName.length; then newNameList; else noName">

</ng-container>

<ng-template #newNameList>
<h1>All name available</h1>
</ng-template>

<ng-template #noName>
<h1>No name available</h1>
</ng-template>



<!-- NgFor -->
<!-- Only iterate through lists -->

<table>
    <thead> 
        <th>Index</th>
        <th>Name</th>
        <th>Type</th>
    </thead>
    <tbody>
        <tr *ngFor="let pokemon of pokemons; let i = index">
            <td [class.cool-bool]="pokemon.isCool">{{i + 1}}</td>
            <td>{{pokemon.name}}</td>
            <td>{{pokemon.type}}</td>
        </tr>

        <tr *ngFor="let pokemon of pokemons; let i = index">
            <td [ngClass]="{'cool-bool': pokemon.isCool}">{{i + 1}}</td>
            <td>{{pokemon.name}}</td>
            <td>{{pokemon.type}}</td>
        </tr>

        <tr *ngFor="let pokemon of pokemons; let i = index">
            <td [class.cool-bool]="pokemon.isCool"
            [style.backgroundColor]="(pokemon.isStylish ? '#000000' : '')">{{i + 1}}</td>
            <td>{{pokemon.name}}</td>
            <td>{{pokemon.type}}</td>
        </tr>

        <tr *ngFor="let pokemon of pokemons; let i = index">
            <td [ngClass]="{'cool-bool': pokemon.isCool}"
            [ngStyle]="{'backgroundColor' : (pokemon.isStylish ? '#FFFF00' : '')}">{{i + 1}}</td>
            <td>{{pokemon.name}}</td>
            <td>{{pokemon.type}}</td>
        </tr>
        
    </tbody>
</table>


<!-- NgClass -->

<td [class.cool-indicator]="pokemoniscool"></td>

<td [ngClass]="{'pokemoniscool':pokemoniscool}"></td>


<!-- NgStyle -->

<td [style.backgroundColor]="(pokemonisStylish ? '#000000' : '')"></td>

<td [ngStyle]="{backgroundColor : (pokemonisStylish ? '#000000' : '')}"></td>


<!-- lazy loading => different module will only be loaded when they are being used  -->

<!-- ng new [name] -->

<!-- ng generate module [name] -->

<!-- ng generate component [name] -->

<!-- ng generate component pokemon-base/pokemon-list --module=pokemon-base.module.ts -->

<!-- ng generate component pokemon-base/pokemon-list --module=pokemon-base/pokemon-base.module.ts -->


<!-- list/detail page -->


<!-- @Input -- pass data down -->


<!-- Smart component pass data down to dumb component -->

<!-- npm i json-server -->

<!-- json-server --watch db.json -->

<!-- http://localhost:3000/pokemon -->


<!-- ngForm & ngModel -->

<!-- Build, Bind, Track, Submit -->

